<!DOCTYPE html>

<% content_for :head do %>
    <!-- Custom Stylesheet -->
    <%= stylesheet_link_tag 'search.css' %>
    <%= javascript_pack_tag 'search.js' %> 
    <title>OSU Courses</title>
<% end %>





<body>
    <!-- https://getbootstrap.com/docs/4.0/layout/grid/ -->
<!--
            <div class="col-2">
                <div class="dropdown">
                    <button class="btn btn-outline-dark btn-block dropdown-toggle" type="button" data-bs-toggle="dropdown" id="filterDropDown" aria-expanded="false">
                        Filter
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="filterDropDown">
                        <li><a class="dropdown-item" href="#">Class Name</a></li>
                    </ul>
                </div>
            </div>
-->
    <!--https://getbootstrap.com/docs/4.0/utilities/sizing/-->
    <div class="w-100 ml-0 mr-0 mw-100 container">
        <div class="row justify-content-center">
            <div class="col-10">
                <form action="/search" id="search-bar" method="GET"> 
                    <div class="row form-group">
                        <input type="text" class="form-control" id="searchForm" placeholder="What would you like to search for?"/>
                    </div>
                </form>
            </div>
        </div>  
        <%= render "layouts/course_list" %>
    </div>
</body>



