<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <% if @user_type == "GRADER" %>
            <p>Grader</p>
            <p><%= @data.length %></p>
        <% elsif @user_type == "INSTRUCTOR" %>
            <p>Instructor</p>
            <p><%= @data.length %></p>
        <% else %>
            <p>Administator</p>
            <p><%= @data.length %></p>
        <% end %>
    </body>
</html>
