<!--View that shows relevant information about sections, graders, and instructors depending on the user's type
    -For admin users, it shows all sections, graders, and instructors
    -For instructor users, it shows all sections that they are teaching
    -For graders, it shows sections they applied to, and sections they are grading
-->

<h1>Hello</h1>
