<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <% if @user_type == "GRADER" %>
            <p>Grader</p>
            <p><%= @data.length %></p>
        <% elsif @user_type == "INSTRUCTOR" %>
            <p>Instructor</p>
            <p><%= @data.length %></p>
        <% else %>
            <p>Administator</p>
	    <% puts @data.length %>
	    <% puts @data[1] %>
            <% @data[1].each do |user| %>
              <p>First name: <%= user.first_name %></p>
	      <p>Last Name: <%= user.last_name  %></p>
	    <% end %>
        <% end %>
    </body>
</html>
