<% content_for :head do %>
    <link rel="stylesheet" href="/assets/navbar.css"> 
<% end %>

<header>
    <div class='container'>
        <nav>
            <ul>
            <li><%= link_to "Login", '/users/sign_in' %></li>
            <li><%= link_to "Sign Up", '/users/sign_up' %></li>
            </ul>
        </nav>
</header>