<% if @recommendations.blank? %>
<h1>There are not any recommendations currently.</h1>
<% else %>
<h1>These are the current recommendations</h1>

<ul id = "recommendations">
   <% @recommendations.each do |rec| %>
   <%= link_to rec.user_id, {:action => 'show', :id => rec.id} %> <%=link_to " ------> Delete", {:action => 'destroy', :id => rec.id}, :confirm => "Are you sure you want to delete this recommendation?"%><br />
   <% end%>
</ul>

<% end %>
<%= link_to 'Add New Recommendation', {:action => 'new'} %>
