.user-affect-button{
    float: right;
}

.hidden {
    display: none;
}

#list-container{
    width: 700px;
}

.main-container{
    margin: auto;
    margin-top: 0px;
    float: left;
}

.course-container{
    background: rgba(0, 0, 128, 0.1);
    margin-bottom: 1em;
}
.course-information{
    padding: 1em;
}

.section-container{
    background: rgba(25, 25, 100, 0.1);
    margin-bottom: 1em;
    padding: 1em;
}

.peopleContainer{
    display: flex;
    justify-content: space-between;
}

p, h3, h4, h5, h6{
    display: inline;
}